/* Catalog - Mobile */

.fieloplt-catalog .fielo-slider .fielo-field--is-ViewImage {
  height: inherit;
  float: left;
}

.fieloplt-catalog .fielo-slider .fielo-field--is-ViewImage .fielo-image {
  max-height: 100%;
}

.fieloplt-catalog .fielo-slider .fielo-field {
  float: right;
  width: 50%;
}

.fieloplt-catalog .fielo-slider .fielo-field__label {
  font-weight: bold;
}

/* Add To Cart - Mobile */
.fieloplt-add-to-cart__quantity,
.fieloplt-checkout__quantity {
  width: 40px;
  text-align: center;
}

.fieloplt-add-to-cart.active * {
  display: none;
}
.fieloplt-add-to-cart.active::after {
  content: attr(data-alreadyincart) "";
}

/* Shopping Cart - Mobile */

.fieloplt-shopping-cart__quantity,
.fieloplt-checkout__quantity  {
  width: 40px;
  text-align: center;
}

.fieloplt-shopping-cart .fielo-button__delete {
  cursor: pointer;
}

/**
 *
 *  Shopping cart list
 *  Use this site to encode and have copatibility with IE11 , Firefox
 *  http://pressbin.com/tools/urlencode_urldecode/
 *
 **/

.fieloplt-shopping-cart .fielo-button__delete {
  width:24px;
  height:24px;
  display:block;
}