/* Catalog - Mobile */

.fieloplt-catalog .fielo-slider .fielo-field--is-ViewImage {
  height: inherit;
  float: left;
}

.fieloplt-catalog .fielo-slider .fielo-field--is-ViewImage .fielo-image {
  max-height: 100%;
}

.fieloplt-catalog .fielo-slider .fielo-field {
  float: right;
  width: 50%;
}

.fieloplt-catalog .fielo-slider .fielo-field__label {
  font-weight: bold;
}

/* Add To Cart - Mobile */
.fieloplt-add-to-cart__quantity,
.fieloplt-checkout__quantity {
  width: 40px;
  text-align: center;
}

.fieloplt-add-to-cart.active * {
  display: none;
}
.fieloplt-add-to-cart.active::after {
  content: attr(data-alreadyincart) "";
}

/* Shopping Cart - Mobile */

.fieloplt-shopping-cart__quantity,
.fieloplt-checkout__quantity  {
  width: 40px;
  text-align: center;
}

.fieloplt-shopping-cart .fielo-button__delete {
  cursor: pointer;
}

/**
 *
 *  Shopping cart list
 *  Use this site to encode and have copatibility with IE11 , Firefox
 *  http://pressbin.com/tools/urlencode_urldecode/
 *
 **/

.fieloplt-shopping-cart .fielo-button__delete {
  width:24px;
  height:24px;
  display:block;
}

/* Agreement */
.cms-plt-agreement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.cms-plt-agreement .fielo-form {
  margin-top: 20px;
}
.cms-plt-agreement__container {
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 80%;
  background-color: #FFFFFF;
  position:fixed;
  z-index: 99;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #000000;
}
.cms-plt-agreement__content {
  height: calc(100% - 140px);
    overflow-y: scroll;
}
.cms-plt-agreement__backdrop  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  box-sizing: border-box;
}

.cms-plt-agreement__label {
  margin-right: 10px;
  margin-left: 10px;
}